%div
- if Gitlab::CurrentSettings.help_page_text.present?
  = markdown(Gitlab::CurrentSettings.help_page_text)
  %hr

%h1
  GitLab
  Enterprise Edition
  - if user_signed_in?
    %span= link_to_version
    = version_status_badge
  %hr

- unless Gitlab::CurrentSettings.help_page_hide_commercial_content?
  %p.slead
    GitLab is open source software to collaborate on code.
    %br
    Manage git repositories with fine-grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.
    %br
    Read more about GitLab at #{link_to promo_host, promo_url, target: '_blank', rel: 'noopener noreferrer'}.
    %p= link_to 'Check the current instance configuration ', help_instance_configuration_url
  %hr

.row.prepend-top-default
  .col-md-8
    .documentation-index.md
      = markdown(@help_index)
  .col-md-4
    .card
      .card-header
        Quick help
      %ul.content-list
        %li= link_to 'See our website for getting help', support_url
        %li
          %button.btn-blank.btn-link.js-trigger-search-bar{ type: 'button' }
            Use the search bar on the top of this page
        %li
          %button.btn-blank.btn-link.js-trigger-shortcut{ type: 'button' }
            Use shortcuts
        - unless Gitlab::CurrentSettings.help_page_hide_commercial_content?
          %li= link_to 'Get a support subscription', 'https://about.gitlab.com/pricing/'
          %li= link_to 'Compare GitLab editions', 'https://about.gitlab.com/features/#compare'
